.container {

  display: flex;
  padding: 5px 15px;
  border: 1px solid #aaa;
  border-radius: 100px;
  
  input.content {
    border: none;
    display: block;
    width: 100%;
    &:focus {
      border: none;
      outline-color: transparent;
    }
  }

  .search-icon {
    cursor: pointer;
  }

}