.album-container {
  display: flex;
  flex-grow: 1;
  margin: 5px 0;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;

  .no-album {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: #aaa;
    text-align: center;
  }
}