.player-container {
  height:60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 3px 20px #666;

  .album-pic {
    width: 50px;
  }

  .album-name {
    width: 100%;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .progress-bar {
    min-width: 100px;
    width: 60%;
    height: 5px;
    background-color: #efe;
    border-radius: 10px;
    position: relative;
  }

  .duration-bar {
    height: 3px;
    background-color: #9ff281;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 1px;
    // &:after {
    //   content: '';
    //   background-color: red;
    //   width: 5px;
    //   height: 5px;
    // }
  }

  .music-time {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 0.7em;
    color: #aaa;
  }

  .audio-btn {
    cursor: pointer;
  }
}