@import "../../../styles/colors";

.nc-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 95%;

  .nc-tip {
    position: absolute;
    bottom: 100%;
    right: 1em;
    border-radius: 2px 2px 0 0;
    background: $g-color-grey;
    cursor: pointer;
    
    div {
      box-sizing: border-box;
      width: 1.5em;
      height: .5em;
      border-bottom: 3px solid white;
      border-top: 3px solid white;
      padding: .1em;
      margin: .2em;
    }
  }
}

.player-container {
  height:60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 3px 20px #666;
  background-color: $g-color-white;
  position: relative;
  z-index: 10;

  .album-pic {
    width: 50px;
  }

  .album-name {
    width: 100%;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .progress-bar {
    min-width: 100px;
    width: 60%;
    height: 5px;
    background-color: #efe;
    border-radius: 10px;
    position: relative;
  }

  .duration-bar {
    height: 3px;
    background-color: #9ff281;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 1px;
    // &:after {
    //   content: '';
    //   background-color: red;
    //   width: 5px;
    //   height: 5px;
    // }
  }

  .music-time {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 0.7em;
    color: #aaa;
  }

  .audio-btn {
    cursor: pointer;
  }
}