.player-container {
  height:60px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .progress-bar {
    min-width: 100px;
    width: 60%;
    height: 5px;
    background-color: #916281;
    border-radius: 10px;
    position: relative;
  }

  .duration-bar {
    height: 3px;
    background-color: #9ff281;
    border-radius: 10px;
    position: absolute;
    // width: 20%;
    z-index: 1;
    top: 1px;
    &:after {
      content: '';
      background-color: red;
      width: 5px;
      height: 5px;
    }
  }

  .audio-btn {
    cursor: pointer;
  }
}