<div class="player-container">
  <!-- 专辑图片 -->
  <img class="album-pic" [src]="album.pic" [alt]="album.name">
  <!-- 进度条 -->
  <div class="progress-bar">
    <!-- below：无法做到自动更新视图 -->
    <!-- <div class="duration-bar" [ngStyle]="{'width.%': (audio.currentTime/audio.duration)*100}"></div> -->
    <div class="duration-bar" [ngStyle]="{'width.%': mcl}"></div>
  </div>
  <!-- 播放按钮 -->
  <i #audioBtn
    class="fa audio-btn"
    [ngClass]="audio.paused ? 'fa-play' : 'fa-pause'"
    aria-hidden="true"
    (click)="audio.paused ? audio.play() : audio.pause()">
  </i>
</div>

<audio #audio [src]="album.music">
  <source [src]="album.music" type="audio/mpeg">
</audio>